<div id="landing-container">
  <img id="logo" src="../../../assets/logo/logo_light_full.png">
  <div id="login-container">
    <h1>We're all being affected by the spread of Covid-19. The silver lining? We're on the same team, and we're in this
      together.</h1>
    <button mat-button mat-raised-button isRoundButton="true">
      <p>Login to your account</p>
    </button>
    <div id="open-button" type="button"
         (click)="toggleModal()">
      <p>Not a member yet? <a>Sign up.</a></p>
    </div>
  </div>
</div>


<ng-container *ngIf="togglePopup">
  Its on
  <app-setup></app-setup>
</ng-container>
