<div class="card">
    <button mat-fab mat-raised-button color="primary" matBadgePosition="before" matBadgeColor="accent" class="fab-button">$
    </button>
    <div class="card-container">
        <mat-card class="matCard">
            <img mat-card-image
                src={{cardData.imageUrl}}
                alt="Photo of a Shiba Inu"/>
            <mat-card-content>
                <p class="name"style="">
                    {{cardData.firstName}}&nbsp;{{cardData.lastName}}
                </p>
                <p style="text-align: center;font-size: 1.5vh;font-weight: 300;color:#002A49">
                    {{cardData.message}}
                </p>
            </mat-card-content>
            <mat-card-actions style="text-align: center;">
                <button mat-button mat-flat-button color="accent">MEET THIS NEED</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>