<div id="setup-container">
  <div id="setup-border">
  </div>

  <div id="setup-form-container">
      <img src="../../../assets/logo/logo_green_full.png">

    <form #f="ngForm" (ngSubmit)="closeModal()">
      <div id="name-row">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="user.firstName" name="firstName" placeholder="First Name">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" [(ngModel)]="user.lastName" name="lastName" placeholder="Last Name">
        </mat-form-field>
      </div>

        <mat-form-field>
          <input matInput type="email" [(ngModel)]="user.email" name="email" placeholder="Email">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" [(ngModel)]="user.username" name="username" placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" [(ngModel)]="user.password" name="password" required placeholder="Password">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword" required placeholder="Confirm Password">
        </mat-form-field>

      <button mat-button mat-raised-button isRoundButton="true" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>

  </div>
</div>
