<app-header></app-header>
<div style="width:100%;padding-top:20px;margin-right:20px;padding-right:0px;">
  <mat-card
    class="example-card"
    style="margin-right: 10px;min-width: 200px;max-width: 250px;"
  >
    <mat-card-content>
      <h1>FORM</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Ex. Team Humanity" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Description of Your Need</mat-label>
          <textarea
            matInput
            placeholder="Ex. Save all the kittens..."
          ></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<p>create-need works!</p>
