.main {
  margin: 50px;
}

.app-cards {
  padding-right: 10px;
}
.dashboard-card-list {
  padding-right: 10px;
  padding-right: 10px;
}

.input {
  margin: 10px;
}

.btn {
  margin: 5px;
  width: 100px;
}

.imgPreview {
  max-height: 100px;
}

.buttonContainer {
  margin: 10px;
}
