/* You can add global styles to this file, and also import other style files */
:root {
  --color-accent: #ef0741;
  --color-over-accent: #ffffff;
  --color-headers: #002a49;
  --color-backdrop: #ededed;
}
