/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap");
:root {
  --color-accent: #ef0741;
  --color-over-accent: #ffffff;
  --color-headers: #002a49;
  --color-backdrop: #ededed;
}
