.toolbar {
    padding-right:0;
    height:100px;
    .heading{
        text-align:center;
        flex:12 1 auto;
    }
    .button{
        height:100%;
        width:10px;
        flex:1 0 auto;
        border-radius: 0;
    }
}