.toolbar {
    padding-right:0;
    height:100px;
    .heading{
        text-align:center;
        flex:12 1 auto;
        font-weight: 100;
        font-size: 40px;
        letter-spacing: 7px;

    }
    .button{
        height:100%;
        width:10px;
        flex:1 0 auto;
        border-radius: 0;
        font-size: 60px;
        color: #41696c;
        cursor:pointer;
    }
}

.main{
    margin:50px;
}

.app-cards{
    padding-right:10px;
}