<mat-toolbar color="primary" role="heading">
    <mat-toolbar-row class="toolbar">
        <span class="heading">TEAM<b>HUMANITY</b></span>
        <button class="button" mat-button mat-flat-button color="accent" >+</button>
    </mat-toolbar-row>
</mat-toolbar>
<main class="main">
    <mat-grid-list gutterSize="40px" rowHeight="1:1.4" [cols]="breakpoint"
        (window:resize)="onResize($event)" class="app-cards">
        
        <mat-grid-tile>
            <app-card></app-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-card></app-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-card></app-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-card></app-card>
        </mat-grid-tile>
        
    </mat-grid-list>
</main>